*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
display:flex;
background:#F4F8F6;
}

.sidebar{

width:250px;

height:100vh;

background:#2B5540;

color:white;

padding:25px;

position:fixed;

}

.logo{

width:80px;

display:block;

margin:auto;

margin-bottom:15px;

}

.sidebar h2{

text-align:center;

margin-bottom:30px;

}

.sidebar ul{

list-style:none;

}

.sidebar li{

padding:15px;

margin-bottom:10px;

border-radius:10px;

}

.sidebar li:hover{

background:#3f7257;

}

.sidebar a{

text-decoration:none;

color:white;

}

.ativo{

background:#92CB6E;

color:#2B5540;

font-weight:bold;

}

.conteudo{

margin-left:250px;

padding:40px;

width:100%;

}

.novo{

background:#92CB6E;

border:none;

padding:15px 25px;

border-radius:10px;

color:white;

font-size:16px;

cursor:pointer;

margin:30px 0;

}

table{

width:100%;

background:white;

border-collapse:collapse;

border-radius:20px;

overflow:hidden;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

th{

background:#2B5540;

color:white;

padding:18px;

}

td{

padding:18px;

text-align:center;

}

.foto{

width:50px;

height:50px;

border-radius:50%;

object-fit:cover;

}

.editar{

background:#3498db;

color:white;

border:none;

padding:10px 15px;

border-radius:8px;

cursor:pointer;

}

.excluir{

background:#e74c3c;

color:white;

border:none;

padding:10px 15px;

border-radius:8px;

cursor:pointer;

margin-left:10px;

}